#main{
	width: 1200px;
	height: 1800px;
/* 	font-family:"微软雅黑"; */
	margin: 0 auto;
	/* 设置水平居中 */
}
#top{
	margin: 0px;
	width: 1200px;
	height: 250px;
	background-color: #FAEBD7;
}

#body{
	margin: 0px;
	width: 1200px;
}

#body_right{
	width: 1200px;
	height: 1200px;
	background-color:ghostwhite;
}

/* 提交配置单按钮样式 */
.button {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	margin-top: 20px;
}

.button2 {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
}

/* 导航栏 */
#daohang ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

#daohang li {
    float: left;
}

#daohang li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#daohang li a:hover:not(.active) {
    background-color: #ddd;
}

#daohang li a.active {
    color: white;
    background-color: #4CAF50;
}

#bottom{
	background-color:#f3f3f3;
	height: 100px;
}

/*分页*/
.page-bar{
    margin-left: 280px;
    margin-top: 5px;
}

#body_right_top_bottom ul{
    margin: 0 auto;
}

#body_right_top_bottom li{
    /* margin: 0 auto; */
    padding: 0px;
}

#body_right_top_bottom li{
    list-style: none
}
#body_right_top_bottom .page-bar li:first-child>a {
    margin-left: 0px
}
#body_right_top_bottom .page-bar a{
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}
#body_right_top_bottom .page-bar a:hover{
    background-color: #eee;
}
#body_right_top_bottom .page-bar a.banclick{
    cursor:not-allowed;
}
#body_right_top_bottom .page-bar .active a{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
#body_right_top_bottom .page-bar i{
    font-style:normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}

#body_right_bottom_bottom{
    margin-top: 195px;
    height: 600px;
}
/*分页2*/
#body_right_bottom_bottom ul{
    margin: 0 auto;
}

#body_right_bottom_bottom li{
    /* margin: 0 auto; */
    padding: 0px;
}

#body_right_bottom_bottom li{
    list-style: none
}
#body_right_bottom_bottom .page-bar li:first-child>a {
    margin-left: 0px
}
#body_right_bottom_bottom .page-bar a{
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}
#body_right_bottom_bottom .page-bar a:hover{
    background-color: #eee;
}
#body_right_bottom_bottom .page-bar a.banclick{
    cursor:not-allowed;
}
#body_right_bottom_bottom .page-bar .active a{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
#body_right_bottom_bottom .page-bar i{
    font-style:normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}

#popLayer{
    height: 1800px;
    background-color: #B3B3B3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 层次顺序 */
    z-index: 10;
    /* 控制透明度 */
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}

#popConfigListRename{
    background-color: #FFFFFF;
    z-index: 11;
    width: 400px;
    height: 350px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxConfigList {
    background-color: #FFFFFF;
    z-index: 11;
    width: 400px;
    height: 350px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxConfigList ul{
    list-style: none;
}

#popBoxConfigList ul li{
    margin-top: 5px;
}