#main{
	width: 1200px;
	height: 1700px;
/* 	font-family:"微软雅黑"; */
	margin: 0 auto;
	/* 设置水平居中 */
}


#top{
	margin: 0px;
	width: 1200px;
	height: 250px;
	background-color: #FAEBD7;
}

#body{
	margin: 0px;
	width: 1200px;
	height: 1150px;
}

#body_left{

	width: 500px;
	height: 1150px;
	background-color: ghostwhite;
	float: left;
}

#body_right{
	width: 700px;
	height: 1150px;
	background-color:beige;
	float: right;
}

#body_right li{
    list-style: none; /*去掉小圆点*/
    margin: 30px;
    margin-top: 50px;
}

#body_right li img{
    float: left;
}

#body_right_top{
	width: 700px;
	height: 624px;
	background-color: #666666;
	}

#parts-head{
	text-align: center;
}
/* 提交配置单按钮样式 */
.button {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	margin-top: 20px;
}

h3{
	font-size: 30px;
}

.url1 {
	text-align: left;
    list-style-type: none;
    margin: 0px auto;
    padding: 0;
    width: 400px;
    background-color: white;
	font-size: 15px;
    cursor: pointer;
}

.url1 li{
	padding: 10px;
}

.url1 li span {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* 鼠标移动到选项上修改背景颜色 */
.url1 li:hover {
    background-color:cadetblue;
}
/* 鼠标移动到选项上修改字体颜色 */
.url1 li span:hover{
	color: white;
}

.url1 li:active{
    background-color:cadetblue;
}

.url1 li span:active{
    color: white;
}

/* 导航栏 */
#daohang ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

#daohang li {
    float: left;
}

#daohang li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#daohang li a:hover:not(.active) {
    background-color: #ddd;
}

#daohang li a.active {
    color: white;
    background-color: #4CAF50;
}

#bottom{
	background-color:#f3f3f3;
	height: 150px;
    width: 1200px;
}

#bottom ul{
    margin: 0 auto;
}

#bottom li{
    /* margin: 0 auto; */
    padding: 0px;
}

#bottom .page-bar {
    margin-left: 620px;
}

#bottom .page-bar li{
    list-style: none
}
#bottom .page-bar li:first-child>a {
    margin-left: 0px
}
#bottom .page-bar a{
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}
#bottom .page-bar a:hover{
    background-color: #eee;
}
#bottom .page-bar a.banclick{
    cursor:not-allowed;
}
#bottom .page-bar .active a{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
#bottom .page-bar i{
    font-style:normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}

.button2 {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
}

/*弹窗遮罩层*/
#popLayer {
    /*display: none;*/
    height: 1800px;
    background-color: #B3B3B3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 层次顺序 */
    z-index: 10;
    /* 控制透明度 */
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}

/*弹窗*/
#popBoxCpu {
    background-color: #FFFFFF;
    z-index: 11;
    width: 320px;
    height: 600px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxCpu ul{
    list-style: none;
}

#popBoxCpu ul li{
    margin: 10px;
    float: left;
    width: 300px;
}

#popBoxMainBoard {
    background-color: #FFFFFF;
    z-index: 11;
    width: 320px;
    height: 630px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxMainBoard ul{
    list-style: none;
}

#popBoxMainBoard ul li{
    margin: 10px;
}

#popBoxMemory {
     background-color: #FFFFFF;
     z-index: 11;
     width: 320px;
     height: 320px;
     position:fixed;
     top:0;
     right:0;
     left:0;
     bottom:0;
     margin:auto;
 }

#popBoxMemory ul{
    list-style: none;
}

#popBoxMemory ul li{
    margin: 10px;
}

#popBoxHardDriver {
    background-color: #FFFFFF;
    z-index: 11;
    width: 340px;
    height: 300px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxHardDriver ul{
    list-style: none;
}

#popBoxHardDriver ul li{
    margin: 10px;
}

#popBoxDisplay {
    background-color: #FFFFFF;
    z-index: 11;
    width: 320px;
    height: 320px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxDisplay ul{
    list-style: none;
}

#popBoxDisplay ul li{
    margin: 10px;
}

#popBoxBox {
    background-color: #FFFFFF;
    z-index: 11;
    width: 320px;
    height: 300px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxBox ul{
    list-style: none;
}

#popBoxBox ul li{
    margin: 10px;
}

#popBoxPower {
    background-color: #FFFFFF;
    z-index: 11;
    width: 320px;
    height: 280px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxPower ul{
    list-style: none;
}

#popBoxPower ul li{
    margin: 10px;
}

#popBoxRadiator {
    background-color: #FFFFFF;
    z-index: 11;
    width: 320px;
    height: 300px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}

#popBoxRadiator ul{
    list-style: none;
}

#popBoxRadiator ul li{
    margin: 10px;
}





