<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>小白装机网</title>
		<link href="css/gerenzhongxin.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="main">
			<div id="top">
				<div id="daohang">
					<ul>
					  <li><a href="http://localhost:8080/index">主页</a></li>
					  <li><a href="http://localhost:8080/luntan">论坛</a></li>
					  <li><a href="http://localhost:8080/ziyuan">资源</a></li>
					  <li><a class="active" href="http://localhost:8080/gerenzhongxin">个人中心</a></li>
					</ul>
				</div>
				<div id="image"><img class="mb-4" src="img/title.jpg" th:src="@{/img/title.jpg}"></div>
			</div>
			<div id="body">
				<div id="body_left">
					<ul>
						<table style="text-align: left;font-family: '微软雅黑';font-size: 14px;">
							<tr>
								<th>用户名：{{object.username}}</th>
							</tr>
							<tr>
								<th></th>
							</tr>
							<tr>
								<th>积分 ：{{object.integ}}</th>
							</tr>
						</table>
					</ul>
				</div>
				<div id="body_right">
					<div id="body_right_top">
						<p style="text-align: center;">我的帖子</p>
						<div id="body_right_top_content"  style="height: 450px;">
							<ul style="list-style: none;">
								<li v-for="value in object">
									<table style="font-family: '微软雅黑';font-size: 16px;">
										<tr v-on:click="recordDetail(value.id,value.title)">
											<td style="width: 650px;">标题：{{value.title}}</td>
											<td>创建时间：{{value.createTime}}</td>
										</tr>
									</table>
									<br>
								</li>
							</ul>

						</div>
						<div id="body_right_top_bottom">
							<div class="page-bar">
								<ul>
									<li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
									<li v-if="cur==1"><a class="banclick">上一页</a></li>
									<li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
										<a v-on:click="btnClick(index)">{{ index }}</a>
									</li>
									<li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
									<li v-if="cur == all"><a class="banclick">下一页</a></li>
									<li><a>共<i>{{all}}</i>页</a></li>
								</ul>
							</div>
						</div>
						<br>
						<div id="body_right_bottom_content" style="margin-top: 50px;height: 450px">
							<hr>
							<p style="text-align: center;">我的配置单</p>
							<ul style="list-style: none;">
								<li v-for="value in object">
									<table style="font-family: '微软雅黑';font-size: 16px;">
										<tr v-on:click="popOpen(value)">
											<td style="width: 650px;">标题：{{value.name}}</td>
											<td>价格：{{value.price}}</td>
											<input type="button" value="重命名" v-on:click="rename(value.id)">
											<input type="button" value="发布" v-on:click="submit(value.id)">
										</tr>
									</table>
									<br>
								</li>
							</ul>
							<div id="popLayer" v-if="popLayer"></div>
							<div id="popBoxConfigList" v-if="ConfigListPop">
								<ul>
									<li>配置单名称：{{configListDetail.name}}</li>
									<li>CPU：{{configListDetail.cpuName}}</li>
									<li>主板：{{configListDetail.mainBoardName}}</li>
									<li>内存：{{configListDetail.memoryName}}</li>
									<li>硬盘：{{configListDetail.hardDiskName}}</li>
									<li>显卡：{{configListDetail.displayName}}</li>
									<li>机箱：{{configListDetail.boxName}}</li>
									<li>电源：{{configListDetail.powerName}}</li>
									<li>散热器：{{configListDetail.radiatorName}}</li>
									<li>总价格：{{configListDetail.price}}</li>
									<input class="button" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="popClose()" value="返回">
								</ul>
							</div>
						</div>
						<div id="body_right_bottom_bottom">
							<div class="page-bar">
								<ul>
									<li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
									<li v-if="cur==1"><a class="banclick">上一页</a></li>
									<li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
										<a v-on:click="btnClick(index)">{{ index }}</a>
									</li>
									<li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
									<li v-if="cur == all"><a class="banclick">下一页</a></li>
									<li><a>共<i>{{all}}</i>页</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom"></div>

	</body>
	<script src="js/vue.min.js"></script>
	<script src="js/axios.min.js"></script>
	<script>
		let user=new Vue({
			el:'#body_left',
			data:{
				object:{
				}
			},
			mounted:function(){
				this.getUser();
			},
			methods:{
				getUser(){
					let self=this;
					axios.get('http://localhost:8080/getLoginUserMsg',{
					})
							.then(function (response){
								self.object=response.data;
							}).catch(function (error) {
						console.log(error);
					});
				}
			}
		})

		let record=new Vue({
			el:'#body_right_top_content',
			data:{
				object:{
				}
			},
			mounted:function () {
				this.getPersonRecordList(1);
			},
			methods: {
				recordDetail:function(id,name){
					let expdate = new Date();   //初始化时间
					expdate.setTime(expdate.getTime() + 30 * 60 * 1000);   //时间
					document.cookie = "recordId="+id+";expires="+expdate.toGMTString()+";path=/";
					document.cookie = "recordName="+name+";expires="+expdate.toGMTString()+";path=/";
					window.location.href="http://localhost:8080/recordDetail";
				},
				getPersonRecordList(currentPage){
					let self=this;
					axios.post('http://localhost:8080/getPersonRecord',{
						currentPage:currentPage,
						pageSize:10
					})
							.then(function (response) {
								console.log(response);
								let page=pageBar;
								self.object=response.data;
								axios.get('http://localhost:8080/getPersonRecordCount',{
									params:{pageSize:10}
								})
										.then(function (response) {
											page.all=response.data;
											console.log(response);
										})
										.catch(function (error) {
											console.log(error);
										});
							})
							.catch(function (error) {
								console.log(error);
							});
				}
			}
		})

		//分页1
		let pageBar = new Vue({
			el: '#body_right_top_bottom',
			data: {
				all: 8, //总页数
				cur: 1//当前页码
			},
			watch: {
				cur: function(oldValue , newValue){
					console.log(arguments);
				}
			},
			methods: {
				btnClick: function(data){//页码点击事件
					if(data != this.cur){
						this.cur = data
					}
					let self=record;
					self.getPersonRecordList(data);
				},
				pageClick: function(){
					this.btnClick(this.cur);
					self.getPersonRecordList(this.cur);
					console.log('现在在'+this.cur+'页');
				}
			},
			computed: {
				indexs: function(){
					var left = 1;
					var right = this.all;
					var ar = [];
					if(this.all>= 5){
						if(this.cur > 3 && this.cur < this.all-2){
							left = this.cur - 2
							right = this.cur + 2
						}else{
							if(this.cur<=3){
								left = 1
								right = 5
							}else{
								right = this.all
								left = this.all -4
							}
						}
					}
					while (left <= right){
						ar.push(left)
						left ++
					}
					return ar
				}

			}
		})

		let perSonConfigList=new Vue({
			el:'#body_right_bottom_content',
			data:{
				object:{
				},
				ConfigListPop:false,
				popLayer:false,
				configListDetail:{
					name:'',
					boxName:'',
					cpuName:'',
					displayName:'',
					hardDiskName:'',
					mainBoardName:'',
					memoryName:'',
					powerName:'',
					price:0,
					radiatorName:''
				},
				userId:0
			},
			mounted:function () {
				this.getPersonConfigList(1);
			},
			methods: {
				submit:function(id){
					axios.post('http://localhost:8080/submitConfigList',{
						id:id,
					})
							.then(function (response) {
								this.getPersonRecordList(1);
							})
							.catch(function (error) {

							});
				},
				rename:function(){

				},
				popOpen:function(value){
					let self=this;
					self.configListDetail.name=value.name;
					self.configListDetail.boxName=value.boxName;
					self.configListDetail.cpuName=value.cpuName;
					self.configListDetail.displayName=value.displayName;
					self.configListDetail.hardDiskName=value.hardDiskName;
					self.configListDetail.mainBoardName=value.mainBoardName;
					self.configListDetail.memoryName=value.memoryName;
					self.configListDetail.powerName=value.powerName;
					self.configListDetail.price=value.price;
					self.configListDetail.radiatorName=value.radiatorName;
					self.ConfigListPop=true;
					self.popLayer=true;
				},
				popClose:function(){
					let self=this;
					self.ConfigListPop=false;
					self.popLayer=false;
				},
				getPersonConfigList(currentPage){
					let self=this;
					axios.get('http://localhost:8080/getLoginUserId',{
					})
							.then(function (response) {
								self.userId=response.data;
								axios.post('http://localhost:8080/configlist/getPersonList',{
									currentPage:currentPage,
									pageSize:10,
									userId:self.userId
								})
										.then(function (response) {
											self.object=response.data;
											axios.get('http://localhost:8080/configlist/getPersonCount',{
												params:{
													pageSize:10,
													userId:self.userId
												}
											})
													.then(function (response) {
														console.log(response);
														let page=pageBar2;
														page.all=response.data;
													})
													.catch(function (error) {
														console.log(error);
													});
										})
										.catch(function (error) {
											console.log(error);
										});
							})

				}
			}
		})

		let pageBar2 = new Vue({
			el: '#body_right_bottom_bottom',
			data: {
				all: 8, //总页数
				cur: 1//当前页码
			},
			watch: {
				cur: function(oldValue , newValue){
					console.log(arguments);
				}
			},
			methods: {
				btnClick: function(data){//页码点击事件
					if(data != this.cur){
						this.cur = data
					}
					let self=perSonConfigList;
					self.getPersonConfigList(data);
				},
				pageClick: function(){
					this.btnClick(this.cur);
					console.log('现在在'+this.cur+'页');
					let self=perSonConfigList;
					self.getPersonConfigList(this.cur);
				}
			},
			computed: {
				indexs: function(){
					var left = 1;
					var right = this.all;
					var ar = [];
					if(this.all>= 5){
						if(this.cur > 3 && this.cur < this.all-2){
							left = this.cur - 2
							right = this.cur + 2
						}else{
							if(this.cur<=3){
								left = 1
								right = 5
							}else{
								right = this.all
								left = this.all -4
							}
						}
					}
					while (left <= right){
						ar.push(left)
						left ++
					}
					return ar
				}
			}
		})
	</script>
</html>
