<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>小白装机网</title>
		<link href="css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
	</head>
	<body>
		<div id="main">
			<div id="top">
				<div id="image"></div>
				<div id="daohang">
					<ul>
					  <li><a class="active" href="http://localhost:8080/index">主页</a></li>
					  <li><a href="http://localhost:8080/luntan">论坛</a></li>
					  <li><a href="http://localhost:8080/ziyuan">资源</a></li>
					  <li><a href="http://localhost:8080/gerenzhongxin">个人中心</a></li>
					</ul>
				</div>
			</div>
			<div id="body">
				<div id="body_left">
					<div id="parts-head">
						<h3>请选择配件</h3>
						<ul class="url1">
							<li id="topSubSel_1" ><span>CPU</span></li>
							<li v-on:click="getMainBoard" id="topSubSel_2"><span>主板</span></li>
							<li id="topSubSel_3"><span>内存</span></li>
							<li id="topSubSel_4"><span>硬盘</span></li>
							<li id="topSubSel_5"><span>显卡</span></li>
							<li id="topSubSel_6"><span>机箱</span></li>
							<li id="topSubSel_7"><span>电源</span></li>
							<li id="topSubSel_8"><span>散热器</span></li>        
						</ul>
						<button class="button">提交配置单</button>
					</div>
				</div>
				<div id="body_right">
						<ul id="list">
							<li v-for="value in object">
								<img :src="value.src" height="100px" width="100px">
								{{ value.name }}<br>
								价格：{{ value.price }}
							</li>
						</ul>
				</div>
			</div>
			<div id="bottom">
				<div class="page-bar">
					<ul>
						<li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
						<li v-if="cur==1"><a class="banclick">上一页</a></li>
						<li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
							<a v-on:click="btnClick(index)">{{ index }}</a>
						</li>
						<li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
						<li v-if="cur == all"><a class="banclick">下一页</a></li>
						<li><a>共<i>{{all}}</i>页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="js/vue.min.js"></script>
	<script src="js/axios.min.js"></script>
	<script>
			new Vue({
				el: '#body',
				data:{
					object:{
						id:'',
						price:'',
						src:'',
						name:''
					}
				},
				methods:{
					getMainBoard(){
						let self=this;
						let obj;
						axios.post('http://localhost:8080/allMainBoardByPage',{
							currentPage:1,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									// response.data.
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getMainBoardNum(){
						axios.get('http://localhost:8080/getMainBoardNum',{
							params:{pageSize:2}
						})
								.then(function (response) {
									console.log(response);
								})
								.catch(function (error) {
									console.log(error);
								});
					}
				}
			})
	</script>
	<script type="text/javascript">
	var pageBar = new Vue({
	    el: '.page-bar',
	    data: {
	        all: 8, //总页数
	        cur: 1//当前页码
	    },
	    watch: {
	        cur: function(oldValue , newValue){
	            console.log(arguments);
	        }
	    },
	     methods: {
	        btnClick: function(data){//页码点击事件
	            if(data != this.cur){
	                this.cur = data
	            }
	        },
	        pageClick: function(){
	            console.log('现在在'+this.cur+'页');
	        }
	    },

	    computed: {
	        indexs: function(){
	          var left = 1;
	          var right = this.all;
	          var ar = [];
	          if(this.all>= 5){
	            if(this.cur > 3 && this.cur < this.all-2){
	                    left = this.cur - 2
	                    right = this.cur + 2
	            }else{
	                if(this.cur<=3){
	                    left = 1
	                    right = 5
	                }else{
	                    right = this.all
	                    left = this.all -4
	                }
	            }
	         }
	        while (left <= right){
	            ar.push(left)
	            left ++
	        }
	        return ar
	       }

	    }
	})
	</script>
</html>
