<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>小白装机网</title>
		<link href="css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
	</head>
	<body>
		<div id="main">
			<div id="top">
				<div id="image"></div>
				<div id="daohang">
					<ul>
					  <li><a class="active" href="http://localhost:8080/index">主页</a></li>
					  <li><a href="http://localhost:8080/luntan">论坛</a></li>
					  <li><a href="http://localhost:8080/ziyuan">资源</a></li>
					  <li><a href="http://localhost:8080/gerenzhongxin">个人中心</a></li>
					</ul>
				</div>
			</div>
			<div id="body">
				<div id="body_left">
					<div id="parts-head">
						<h3>请选择配件</h3>
						<ul class="url1">
							<li v-on:click="getCPU(1)" onclick="initCur()" id="topSubSel_1" ><span>CPU</span></li>
							<li v-on:click="getMainBoard(1)" onclick="initCur()" id="topSubSel_2"><span>主板</span></li>
							<li v-on:click="getMemory(1)" onclick="initCur()" id="topSubSel_3"><span>内存</span></li>
							<li v-on:click="getHardDriver(1)" onclick="initCur()" id="topSubSel_4"><span>硬盘</span></li>
							<li v-on:click="getDisplay(1)" onclick="initCur()" id="topSubSel_5"><span>显卡</span></li>
							<li v-on:click="getBox(1)" onclick="initCur()" id="topSubSel_6"><span>机箱</span></li>
							<li v-on:click="getPower(1)" onclick="initCur()" id="topSubSel_7"><span>电源</span></li>
							<li v-on:click="getRadiator(1)" onclick="initCur()" id="topSubSel_8"><span>散热器</span></li>
						</ul>
						<button class="button">提交配置单</button>
					</div>
				</div>
				<div id="body_right">
						<ul id="list">
							<li v-for="value in object">
								<img :src="value.src" height="100px" width="100px">
								{{ value.name }}<br><br>
								价格：{{ value.price }}
							</li>
						</ul>
				</div>
			</div>
			<div id="bottom">
				<div class="page-bar">
					<ul>
						<li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
						<li v-if="cur==1"><a class="banclick">上一页</a></li>
						<li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
							<a v-on:click="btnClick(index)">{{ index }}</a>
						</li>
						<li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
						<li v-if="cur == all"><a class="banclick">下一页</a></li>
						<li><a>共<i>{{all}}</i>页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
	<script>
			let hard=1;//设置全局变量，1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
			let getList=new Vue({
				el: '#body',
				data:{
					object:{
					}
				},
				mounted:function(){
					this.getCPU();
				},
				//获取页数，获取列表
				methods:{
					getCPU:function(currentPage){
						if(currentPage==null)
							currentPage=1;
						hard=1;
						console.log("hard="+hard);
						let self=this;
						axios.post('http://localhost:8080/allCpuByPage',{
							currentPage:currentPage,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									let page=pageBar;
									// page.cur=1;
									axios.get('http://localhost:8080/getCPUPageNum',{
										params:{pageSize:5}
									})
											.then(function (response) {
												page.all=response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getMainBoard:function(currentPage){
						if(currentPage==null)
							currentPage=1;
						hard=2;
						console.log("hard="+hard);
						let self=this;
						axios.post('http://localhost:8080/allMainBoardByPage',{
							currentPage:currentPage,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									let page=pageBar;
									axios.get('http://localhost:8080/getMainBoardNum',{
										params:{pageSize:5}
									})
											.then(function (response) {
												page.all=response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getMemory:function(currentPage){
						if(currentPage==null)
							currentPage=1;
						hard=3;
						console.log("hard="+hard);
						let self=this;
						axios.post('http://localhost:8080/allMemoryByPage',{
							currentPage:currentPage,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									let page=pageBar;
									axios.get('http://localhost:8080/getMemoryNum',{
										params:{pageSize:5}
									})
											.then(function (response) {
												page.all=response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getHardDriver:function(currentPage){
						if(currentPage==null)
							currentPage=1;
						hard=4;
						console.log(hard);
						let self=this;
						axios.post('http://localhost:8080/allHardDriverByPage',{
							currentPage:currentPage,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									let page=pageBar;
									axios.get('http://localhost:8080/getHardDiskPageNum',{
										params:{pageSize:5}
									})
											.then(function (response) {
												page.all=response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getDisplay:function(currentPage){
						if(currentPage==null)
							currentPage=1;
						hard=5;
						let self=this;
						axios.post('http://localhost:8080/allDisplayByPage',{
							currentPage:currentPage,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									let page=pageBar;
									axios.get('http://localhost:8080/getDisplayPageNum',{
										params:{pageSize:5}
									})
											.then(function (response) {
												page.all=response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getBox:function(currentPage){
						if(currentPage==null)
							currentPage=1;
						hard=6;
						let self=this;
						axios.post('http://localhost:8080/allBoxByPage',{
							currentPage:currentPage,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									let page=pageBar;
									axios.get('http://localhost:8080/getBoxPageNum',{
										params:{pageSize:5}
									})
											.then(function (response) {
												page.all=response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getPower:function(currentPage){
						if(currentPage==null)
							currentPage=1;
						hard=7;
						let self=this;
						axios.post('http://localhost:8080/allPowerByPage',{
							currentPage:currentPage,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									let page=pageBar;
									axios.get('http://localhost:8080/getPowerNum',{
										params:{pageSize:5}
									})
											.then(function (response) {
												page.all=response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getRadiator:function(currentPage){
						if(currentPage==null)
							currentPage=1;
						hard=8;
						let self=this;
						axios.post('http://localhost:8080/allRadiatorByPage',{
							currentPage:currentPage,
							pageSize:5
						})
								.then(function (response) {
									console.log(response);
									let page=pageBar;
									axios.get('http://localhost:8080/getRadiatorNum',{
										params:{pageSize:5}
									})
											.then(function (response) {
												page.all=response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object=response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},

				}
			})

			var pageBar = new Vue({
				el: '.page-bar',
				data: {
					all: 8, //总页数
					cur: 1//当前页码
				},
				watch: {
					cur: function(oldValue , newValue){
						// console.log(arguments);
					}
				},
				methods: {
					btnClick: function(data){//页码点击事件
					    let list=getList;
						if(data != this.cur) {
							this.cur = data;
							console.log(hard);
						}
							// 1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
							if (hard==1){
                                list.getCPU(data);
							}
							else if (hard==2){
								list.getMainBoard(data);
							}
							else if (hard==3){
								list.getMemory(data);
							}
							else if (hard==4){
								list.getHardDriver(data);
							}
							else if (hard==5){
								list.getDisplay(data);
							}
							else if (hard==6){
								list.getBox(data);
							}
							else if (hard==7){
								list.getPower(data);
							}
							else {
								list.getPower(data);
							}
					},
					pageClick: function(){
						console.log('现在在'+this.cur+'页');
						this.btnClick(this.cur)
					}
				},

				computed: {
					indexs: function(){
						var left = 1;
						var right = this.all;
						var ar = [];
						if(this.all>= 5){
							if(this.cur > 3 && this.cur < this.all-2){
								left = this.cur - 2
								right = this.cur + 2
							}else{
								if(this.cur<=3){
									left = 1
									right = 5
								}else{
									right = this.all
									left = this.all -4
								}
							}
						}
						while (left <= right){
							ar.push(left)
							left ++
						}
						return ar
					}

				}
			})
			//每次触发点击事件时，初始化页数为1
			function initCur() {
				let page =pageBar;
				pageBar.cur=1;
			};
	</script>
</html>
