<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>小白装机网</title>
		<link href="css/indexManager.css" th:href="@{/css/indexManager.css}" rel="stylesheet">
	</head>
	<body>
		<div id="main">
			<div id="top">
				<div id="daohang">
					<ul>
						<li><a class="active" href="http://localhost:8080/indexManager">硬件管理</a></li>
						<li><a href="http://localhost:8080/luntanManager">论坛管理</a></li>
						<li><a href="http://localhost:8080/resourceManager">软件管理</a></li>
						<li><a href="http://localhost:8080/configListManager">配置单管理</a></li>
					</ul>
				</div>
				<div id="image"><img class="mb-4" src="img/title.jpg" th:src="@{/img/title.jpg}"></div>
			</div>
			<div id="body">
				<div id="body_left">
					<div id="parts-head">
						<h4>请选择配件</h4>
						<ul class="url1">
							<li v-on:click="initSelect(),getCPU(1)" onclick="initCur()" id="topSubSel_1" ><span>CPU</span></li>
							<li v-on:click="initSelect(),getMainBoard(1)" onclick="initCur()" id="topSubSel_2"><span>主板</span></li>
							<li v-on:click="initSelect(),getMemory(1)" onclick="initCur()" id="topSubSel_3"><span>内存</span></li>
							<li v-on:click="initSelect(),getHardDriver(1)" onclick="initCur()" id="topSubSel_4"><span>硬盘</span></li>
							<li v-on:click="initSelect(),getDisplay(1)" onclick="initCur()" id="topSubSel_5"><span>显卡</span></li>
							<li v-on:click="initSelect(),getBox(1)" onclick="initCur()" id="topSubSel_6"><span>机箱</span></li>
							<li v-on:click="initSelect(),getPower(1)" onclick="initCur()" id="topSubSel_7"><span>电源</span></li>
							<li v-on:click="initSelect(),getRadiator(1)" onclick="initCur()" id="topSubSel_8"><span>散热器</span></li>
						</ul>
					</div>
				</div>
				<div id="body_right">
						<ul id="list">
							<input style="height:26px; width: 180px;padding-left: 5px;margin-left: 320px;margin-top: 20px" type="text" v-model="message" @keyup.enter="select(message)" placeholder="硬件名称搜索">
							<input class="button2" type="button" v-on:click="addHard()" value="添加硬件">
							<input class="button2" type="button" v-on:click="select(message)" value="搜索">
							<li v-for="(value,key) in object">
								<img :src="value.src" height="100px" width="100px">
								{{ value.name }}<br><br>
								价格：{{ value.price }}
								<div id="details"><input type="button" class="button2" value="详情" v-on:click="popBox(value)"></div>
								<div id="add"><input type="button" class="button2" value="编辑" v-on:click="insert(value)"></div>
								<div id="del"><input type="button" class="button2" value="删除" v-on:click="del(value.id)"></div>
							</li>
						</ul>
				</div>
				<!--遮罩层-->
				<div id="popLayer" v-if="popLayer"></div>
				<!--v-bind:class="display:isDisplay"-->
				<!--详情弹窗-->
				<div id="popBoxCpu" v-if="cpuDisplay">
					<img :src="cpuDetail.src" height="100px" width="100px">
					<ul>
						<li>名称：{{cpuDetail.name}}</li>
						<li>功耗：{{cpuDetail.power}}瓦</li>
						<li>接口类型：{{cpuDetail.interf}}</li>
						<li>GPU类型（空代表没有GPU）：{{cpuDetail.gpu}}</li>
						<li>主频：{{cpuDetail.frequency}}GHz</li>
						<li>睿频：{{cpuDetail.turbo}}GHz</li>
						<li>核心数：{{cpuDetail.cores}}</li>
						<li>线程数：{{cpuDetail.thread}}</li>
						<li>制作工艺：{{cpuDetail.technology}}纳米</li>
						<li>价格：{{cpuDetail.price}}元</li>
						<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="closeBox()" value="返回">
					</ul>
				</div>
				<div id="popBoxMainBoard" v-if="mainBoardDisplay">
					<img :src="mainBoardDetail.src" height="100px" width="100px">
					<ul>
						<li>名称：{{mainBoardDetail.name}}</li>
						<li>cpu接口类型：{{mainBoardDetail.cpuInterface}}</li>
						<li>m.2硬盘接口数量：{{mainBoardDetail.m2}}</li>
						<li>内存插槽数量：{{mainBoardDetail.memoryNum}}</li>
						<li>支持最大内存：{{mainBoardDetail.maxMemory}}GB</li>
						<li>内存类型：{{mainBoardDetail.memoryType}}</li>
						<li>供电接口数：{{mainBoardDetail.power}}</li>
						<li>sata接口数量：{{mainBoardDetail.sata}}</li>
						<li>版型：{{mainBoardDetail.type}}</li>
						<li>DVI接口：{{mainBoardDetail.dvi}}</li>
						<li>HDMI接口：{{mainBoardDetail.hdmi}}</li>
						<li>VGA接口：{{mainBoardDetail.vga}}</li>
						<li>cpu供电接口数：{{mainBoardDetail.cpuPower}}</li>
						<li>价格：{{mainBoardDetail.price}}元</li>
						<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="closeBox()" value="返回">
					</ul>
				</div>
				<div id="popBoxMemory" v-if="memoryDisplay">
					<div id="memoryImg" style="margin-top: 5px;margin-left: 5px;">
						<img :src="memoryDetail.src" height="100px" width="100px">
					</div>
					<div id="memoryContent" style="float: left;">
						<ul>
							<li>名称：{{memoryDetail.name}}</li>
							<li>内存大小(GB)：{{memoryDetail.memorySize}}</li>
							<li>内存类型：{{memoryDetail.memoryType}}</li>
							<li>频率：{{memoryDetail.frequency}}</li>
							<li>工作电压：{{memoryDetail.voltage}}</li>
							<li>价格：{{memoryDetail.price}}元</li>
							<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="closeBox()" value="返回">
						</ul>
					</div>
				</div>
				<div id="popBoxHardDriver" v-if="hardDriverDisplay">
					<img :src="hardDriverDetail.src" height="100px" width="100px">
					<ul>
						<li>名称：{{hardDriverDetail.name}}</li>
						<li>容量：{{hardDriverDetail.capacity}}GB</li>
						<li>大小：{{hardDriverDetail.size}}寸</li>
						<li>接口类型：{{hardDriverDetail.interf}}</li>
						<li>价格：{{hardDriverDetail.price}}元</li>
						<li></li>
						<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="closeBox()" value="返回">
					</ul>
				</div>
				<div id="popBoxDisplay" v-if="displayDisplay">
					<img :src="displayDetail.src" height="100px" width="100px">
					<ul>
						<li>名称：{{displayDetail.name}}</li>
						<li>功耗：{{displayDetail.power}}</li>
						<li>长度：{{displayDetail.length}}毫米</li>
						<li>频率：{{displayDetail.MHz}}MHz</li>
						<li>制造工艺：{{displayDetail.technology}}</li>
						<li>内存容量：{{displayDetail.memory}}GB</li>
						<li>价格：{{displayDetail.price}}元</li>
						<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="closeBox()" value="返回">
					</ul>
				</div>
				<div id="popBoxBox" v-if="boxDisplay">
					<img :src="boxDetail.src" height="100px" width="100px">
					<ul>
						<li>名称：{{boxDetail.name}}</li>
						<li>支持最大显卡长度(mm)：{{boxDetail.displayCard}}</li>
						<li>支持散热器高度(mm)：{{boxDetail.radiator}}</li>
						<li>机箱类型：{{boxDetail.type}}</li>
						<li>电源设计：{{boxDetail.powerDesign}}</li>
						<li>价格：{{boxDetail.price}}元</li>
						<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="closeBox()" value="返回">
					</ul>
				</div>
				<div id="popBoxPower" v-if="powerDisplay">
					<img :src="powerDetail.src" height="100px" width="100px">
					<ul>
						<li>名称：{{powerDetail.name}}</li>
						<li>额定功耗：{{powerDetail.num}}瓦</li>
						<li>PFC类型：{{powerDetail.pfcType}}</li>
						<li>80Plus认证：{{powerDetail.plus}}</li>
						<li>主板供电：{{powerDetail.mainboardPowerNum}}</li>
						<li>CPU供电：{{powerDetail.cpuPowerNum}}</li>
						<li>价格：{{powerDetail.price}}元</li>
						<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="closeBox()" value="返回">
					</ul>
				</div>
				<div id="popBoxRadiator" v-if="radiatorDisplay">
					<img :src="radiatorDetail.src" height="100px" width="100px">
					<ul>
						<li>名称：{{radiatorDetail.name}}</li>
						<li>接口类型:{{radiatorDetail.interf}}</li>
						<li>高度：{{radiatorDetail.high}}mm</li>
						<li>价格：{{radiatorDetail.price}}元</li>
						<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" v-on:click="closeBox()" value="返回">
					</ul>
				</div>

				<!--硬件添加或编辑框-->
				<div id="cpuEdit" v-if="edit.cpu">
					<form action="/cpuEdit" method="post">

						&nbsp;&nbsp;&nbsp;&nbsp;CPU名称：<input style="margin-top: 10px;" type="text" name="name" v-model="cpuDetail.name"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;功耗：<input style="margin-top: 10px;" type="text" name="power" v-model="cpuDetail.power"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;接口：<input style="margin-top: 10px;" type="text" name="interf" v-model="cpuDetail.interf"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;显示核心：<input style="margin-top: 10px;" type="text" name="gpu" v-model="cpuDetail.gpu"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;价格：<input style="margin-top: 10px;" type="text" name="price"  v-model="cpuDetail.price"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;系列：<input style="margin-top: 10px;" type="text" name="series"  v-model="cpuDetail.series"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;主频：<input style="margin-top: 10px;" type="text" name="frequency"  v-model="cpuDetail.frequency"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;睿频：<input style="margin-top: 10px;" type="text" name="turbo"  v-model="cpuDetail.turbo"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;核心数：<input style="margin-top: 10px;" type="text" name="cores"  v-model="cpuDetail.cores"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;线程数：<input style="margin-top: 10px;" type="text" name="thread"  v-model="cpuDetail.thread"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;制造工艺：<input style="margin-top: 10px;" type="text" name="technology"  v-model="cpuDetail.technology"><br>
						<input type="hidden" name="id" v-model="ifAdd">
						<input type="submit" class="button2" value="提交">
						<input type="button" class="button2" value="取消" href="javascript:void(0)" v-on:click="closeEdit()"><br>
					</form>
				</div>
				<div id="mainBoardEdit" v-if="edit.mainBoard">
					<form action="/mainBoardEdit" method="post">
						&nbsp;&nbsp;&nbsp;&nbsp;主板名称:<input style="margin-top: 10px;" type="text" name="name" v-model="mainBoardDetail.name"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;版型结构:<input style="margin-top: 10px;" type="text" name="type" v-model="mainBoardDetail.type"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;cpu接口:<input style="margin-top: 10px;" type="text" name="cpuInterface" v-model="mainBoardDetail.cpuInterface"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;内存类型:<input style="margin-top: 10px;" type="text" name="memoryType" v-model="mainBoardDetail.memoryType"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;最大内存:<input style="margin-top: 10px;" type="text" name="maxMemory" v-model="mainBoardDetail.maxMemory"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;内存插槽数:<input style="margin-top: 10px;" type="text" name="memoryNum" v-model="mainBoardDetail.memoryNum"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;SATA接口数:<input style="margin-top: 10px;" type="text" name="sata" v-model="mainBoardDetail.sata"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;M.2接口数:<input style="margin-top: 10px;" type="text" name="m2" v-model="mainBoardDetail.m2"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;功耗：<input style="margin-top: 10px;" type="text" name="power" v-model="mainBoardDetail.power"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;价格：<input style="margin-top: 10px;" type="text" name="price" v-model="mainBoardDetail.price"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;DVI数：<input style="margin-top: 10px;" type="text" name="dvi" v-model="mainBoardDetail.dvi"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;HDMI数：<input style="margin-top: 10px;" type="text" name="hdmi" v-model="mainBoardDetail.hdmi"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;VGA数：<input style="margin-top: 10px;" type="text" name="vga" v-model="mainBoardDetail.vga"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;cpu功耗：<input style="margin-top: 10px;" type="text" name="cpuPower"  v-model="mainBoardDetail.cpuPower"><br>
						<input type="hidden" name="id" v-model="ifAdd">
						<input type="submit" class="button2" value="提交">
						<input type="button" class="button2" value="取消" href="javascript:void(0)" v-on:click="closeEdit()"><br>
					</form>
				</div>
				<div id="memoryEdit" v-if="edit.memory">
					<form action="/memoryEdit" method="post">
						&nbsp;&nbsp;&nbsp;&nbsp;内存名称：<input style="margin-top: 10px;" type="text" name="name" v-model="memoryDetail.name"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;内存类型：<input style="margin-top: 10px;" type="text" name="memoryType" v-model="memoryDetail.memoryType"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;内存大小：<input style="margin-top: 10px;" type="text" name="memorySize" v-model="memoryDetail.memorySize"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;价格：<input style="margin-top: 10px;" type="text" name="price" v-model="memoryDetail.price"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;频率：<input style="margin-top: 10px;" type="text" name="frequency" v-model="memoryDetail.frequency"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;工作电压：<input type="text" name="voltage" v-model="memoryDetail.voltage"><br>
						<input type="hidden" name="id" v-model="ifAdd">
						<input type="submit" class="button2" value="提交">
						<input type="button" class="button2" value="取消" href="javascript:void(0)" v-on:click="closeEdit()"><br>
					</form>
				</div>
				<div id="hardDriverEdit" v-if="edit.hardDriver">
					<form action="/hardDriverEdit" method="post">
						&nbsp;&nbsp;&nbsp;&nbsp;硬盘名称：<input style="margin-top: 10px;" type="text" name="name" v-model="hardDriverDetail.name"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;价格：<input style="margin-top: 10px;" type="text" name="price" v-model="hardDriverDetail.price"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;接口类型：<input style="margin-top: 10px;" type="text" name="interf" v-model="hardDriverDetail.interf"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;容量：<input style="margin-top: 10px;" type="text" name="capacity" v-model="hardDriverDetail.capacity"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;尺寸：<input style="margin-top: 10px;" type="text" name="size" v-model="hardDriverDetail.size"><br>
						<input type="hidden" name="id" v-model="ifAdd">
						<input type="submit" class="button2" value="提交">
						<input type="button" class="button2" value="取消" href="javascript:void(0)" v-on:click="closeEdit()"><br>
					</form>
				</div>
				<div id="displayEdit" v-if="edit.display">
					<form action="/displayEdit" method="post">
						&nbsp;&nbsp;&nbsp;&nbsp;显卡名称：<input style="margin-top: 10px;" type="text" name="name" v-model="displayDetail.name"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;价格：<input style="margin-top: 10px;" type="text" name="price" v-model="displayDetail.price"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;长度：<input style="margin-top: 10px;" type="text" name="length" v-model="displayDetail.length"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;功耗：<input style="margin-top: 10px;" type="text" name="power" v-model="displayDetail.power"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;核心频率：<input style="margin-top: 10px;" type="text" name="mhz" v-model="displayDetail.mhz"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;工艺：<input style="margin-top: 10px;" type="text" name="technology" v-model="displayDetail.technology"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;显存大小：<input style="margin-top: 10px;" type="text" name="memory" v-model="displayDetail.memory"><br>
						<input type="hidden" name="id" v-model="ifAdd">
						<input type="submit" class="button2" value="提交">
						<input type="button" class="button2" value="取消" href="javascript:void(0)" v-on:click="closeEdit()"><br>
					</form>
				</div>
				<div id="boxEdit" v-if="edit.box">
					<form action="/boxEdit" method="post">
						&nbsp;&nbsp;&nbsp;&nbsp;机箱名称：<input style="margin-top: 10px;" type="text" name="name" v-model="boxDetail.name"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;价格：<input style="margin-top: 10px;" type="text" name="price" v-model="boxDetail.price"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;显卡限长：<input style="margin-top: 10px;" type="text" name="displayCard" v-model="boxDetail.displayCard"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;散热器限高：<input style="margin-top: 10px;" type="text" name="radiator" v-model="boxDetail.radiator"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;机箱类型：<input style="margin-top: 10px;" type="text" name="type" v-model="boxDetail.type"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;电源设计：<input style="margin-top: 10px;" type="text" name="powerDesign" v-model="boxDetail.powerDesign"><br>
						<input type="hidden" name="id" v-model="ifAdd">
						<input type="submit" class="button2" value="提交">
						<input type="button" class="button2" value="取消" href="javascript:void(0)" v-on:click="closeEdit()"><br>
					</form>
				</div>
				<div id="powerEdit" v-if="edit.power">
					<form action="/powerEdit" method="post">
						&nbsp;&nbsp;&nbsp;&nbsp;电源名称：<input style="margin-top: 10px;" type="text" name="name" v-model="powerDetail.name"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;功率：<input style="margin-top: 10px;" type="text" name="num" v-model="powerDetail.num"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;价格：<input style="margin-top: 10px;" type="text" name="price" v-model="powerDetail.price"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;主板供电插槽数：<input style="margin-top: 10px;" type="text" name="mainboardPowerNum" v-model="powerDetail.mainboardPowerNum"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;cpu供电插槽数：<input style="margin-top: 10px;" type="text" name="cpuPowerNum" v-model="powerDetail.cpuPowerNum"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;PFC类型：<input style="margin-top: 10px;" type="text" name="pfcType" v-model="powerDetail.pfcType"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;80PLUS认证：<input style="margin-top: 10px;" type="text" name="plus" v-model="powerDetail.plus"><br>
						<input type="hidden" name="id" v-model="ifAdd">
						<input type="submit" class="button2" value="提交">
						<input type="button" class="button2" value="取消" href="javascript:void(0)" v-on:click="closeEdit()"><br>
					</form>
				</div>
				<div id="radiatorEdit" v-if="edit.radiator">
					<form action="/radiatorEdit" method="post">
						&nbsp;&nbsp;&nbsp;&nbsp;散热器名称：<input style="margin-top: 10px;" type="text" name="name" v-model="radiatorDetail.name"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;价格：<input style="margin-top: 10px;" type="text" name="price" v-model="radiatorDetail.price"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;高度：<input style="margin-top: 10px;" type="text" name="high" v-model="radiatorDetail.high"><br>
						&nbsp;&nbsp;&nbsp;&nbsp;接口：<input style="margin-top: 10px;" type="text" name="interf" v-model="radiatorDetail.interf"><br>
						<input type="hidden" name="id" v-model="ifAdd">
						<input type="submit" class="button2" value="提交">
						<input type="button" class="button2" value="取消" href="javascript:void(0)" v-on:click="closeEdit()"><br>
					</form>
				</div>
			</div>
			<div id="bottom">
				<div class="page-bar">
					<ul>
						<li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
						<li v-if="cur==1"><a class="banclick">上一页</a></li>
						<li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
							<a v-on:click="btnClick(index)">{{ index }}</a>
						</li>
						<li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
						<li v-if="cur == all"><a class="banclick">下一页</a></li>
						<li><a>共<i>{{all}}</i>页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
	<script>
			let hard=1;//设置全局变量，1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
			let getList=new Vue({
				el: '#body',
				data:{
					message:'',
					//初始对象
					initObject:{
					},
					object:{
					},
				//	选择显示特定弹窗
					cpuDisplay:false,
					mainBoardDisplay:false,
					powerDisplay:false,
					displayDisplay:false,
					hardDriverDisplay:false,
					memoryDisplay:false,
					boxDisplay:false,
					radiatorDisplay:false,
				//	编辑弹窗
					ifAdd:0,
					edit:{
						cpu:false,
						mainBoard:false,
						power:false,
						display:false,
						hardDriver:false,
						memory:false,
						box:false,
						radiator:false,
					},
					//遮罩层
					popLayer:false,
					configListDetail:{
					},
					cpuDetail:{
					},
					mainBoardDetail:{
					},
					memoryDetail:{
					},
					hardDriverDetail:{
					},
					displayDetail:{
					},
					boxDetail:{
					},
					powerDetail:{
					},
					radiatorDetail:{
					},
					//搜索
					type:{
						cpuSelect:'',
						mainBoardSelect:'',
						powerSelect:'',
						displaySelect:'',
						hardDriverSelect:'',
						memorySelect:'',
						boxSelect:'',
						radiatorSelect:'',
					}
				},
				mounted:function(){
					this.getCPU();
				},
				methods: {
					closeEdit: function () {
						let self = this;
						//初始化弹窗不显示
						self.edit.cpu = false;
						self.edit.mainBoard = false;
						self.edit.power = false;
						self.edit.display = false;
						self.edit.hardDriver = false;
						self.edit.memory = false;
						self.edit.box = false;
						self.edit.radiator = false;
						self.popLayer = false;

						//关闭弹窗时，清空表单内容
						self.cpuDetail=self.initObject;
						self.mainBoardDetail=self.initObject;
						self.memoryDetail=self.initObject;
						self.hardDriverDetail=self.initObject;
						self.displayDetail=self.initObject;
						self.boxDetail=self.initObject;
						self.powerDetail=self.initObject;
						self.radiatorDetail=self.initObject;

						// 刷新页面
						if (hard==1){
							self.getCPU(1);
						}
						else if (hard==2){
							self.getMainBoard(1);
						}
						else if (hard==3){
							self.getMemory(1);
						}
						else if (hard==4){
							self.getHardDriver(1);
						}
						else if (hard==5){
							self.getDisplay(1);
						}
						// 1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
						else if (hard==6){
							self.getBox(1);
						}
						else if (hard==7){
							self.getPower(1);
						}
						else if (hard==8){
							self.getRadiator(1);
						}
					},
					addHard:function (){
						let self=this;
						if (hard==1){
							self.edit.cpu=true;
						}
						else if (hard==2){
							self.edit.mainBoard = true;
						}
						else if (hard==3){
							self.edit.memory = true;
						}
						else if (hard==4){
							self.edit.hardDriver = true;
						}
						else if (hard==5){
							self.edit.display = true;
						}
						// 1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
						else if (hard==6){
							self.edit.box = true;
						}
						else if (hard==7){
							self.edit.power = true;
						}
						else if (hard==8){
							self.edit.radiator = true;
						}
						self.popLayer=true;
					},

					del:function(id){
						let hard1=hard;
						axios.post('http://localhost:8080/delete',{
							id:id,
							type:hard1
						})
								.then(function (response) {
									let self=this;
									alert("删除成功");
								})
								.catch(function (error) {
									console.log(error);
								})
					},
					//初始化搜索条件
					initSelect:function(){
						let self=this;
						self.type.cpuSelect='',
						self.type.mainBoardSelect='',
						self.type.powerSelect='',
						self.type.displaySelect='',
						self.type.memorySelect='',
						self.type.boxSelect='',
						self.type.radiatorSelect=''
					},
					select:function(type){
						let self=this
						if (hard==1){
							self.type.cpuSelect=type;
							self.getCPU(1);
						}
						else if (hard==2){
							self.type.mainBoardSelect=type;
							self.getMainBoard(1);
						}
						else if (hard==3){
							self.type.memorySelect=type;
							self.getMemory(1);
						}
						else if (hard==4){
							self.type.hardDriverSelect=type;
							self.getHardDriver(1);
						}
						else if (hard==5){
							self.type.displaySelect=type;
							self.getDisplay(1);
						}
						// 1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
						else if (hard==6){
							self.type.boxSelect=type;
							self.getBox(1);
						}
						else if (hard==7){
							self.type.powerSelect=type;
							self.getPower(1);
						}
						else if (hard==8){
							self.type.radiatorSelect=type;
							self.getRadiator(1);
						}
					},
					getCPU: function (currentPage) {
						if (currentPage == null)
							currentPage = 1;
						hard = 1;
						let self = this;
						axios.post('http://localhost:8080/allCpuByPage', {
							currentPage: currentPage,
							pageSize: 10,
							type:self.type.cpuSelect,
						})
								.then(function (response) {
									console.log(response);
									let page = pageBar;
									// page.cur=1;
									axios.get('http://localhost:8080/getCPUPageNum', {
										params: {
											pageSize: 10,
											type:self.type.cpuSelect,
										}
									})
											.then(function (response) {
												page.all = response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object = response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getMainBoard: function (currentPage) {
						if (currentPage == null)
							currentPage = 1;
						hard = 2;
						let self = this;
						axios.post('http://localhost:8080/allMainBoardByPage', {
							currentPage: currentPage,
							pageSize: 10,
							type:self.type.mainBoardSelect,
						})
								.then(function (response) {
									console.log(response);
									let page = pageBar;
									axios.get('http://localhost:8080/getMainBoardNum', {
										params: {
											pageSize: 10,
											type:self.type.mainBoardSelect,
										}
									})
											.then(function (response) {
												page.all = response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object = response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getMemory: function (currentPage) {
						if (currentPage == null)
							currentPage = 1;
						hard = 3;
						let self = this;
						axios.post('http://localhost:8080/allMemoryByPage', {
							currentPage: currentPage,
							pageSize: 10,
							type:self.type.memorySelect,
						})
								.then(function (response) {
									console.log(response);
									let page = pageBar;
									axios.get('http://localhost:8080/getMemoryNum', {
										params: {
											pageSize: 10,
											type:self.type.memorySelect,
										}
									})
											.then(function (response) {
												page.all = response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object = response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getHardDriver: function (currentPage) {
						if (currentPage == null)
							currentPage = 1;
						hard = 4;
						let self = this;
						axios.post('http://localhost:8080/allHardDriverByPage', {
							currentPage: currentPage,
							pageSize: 10,
							type:self.type.hardDriverSelect,
						})
								.then(function (response) {
									console.log(response);
									let page = pageBar;
									axios.get('http://localhost:8080/getHardDiskPageNum', {
										params: {
											pageSize: 10,
											type:self.type.hardDriverSelect,}
									})
											.then(function (response) {
												page.all = response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object = response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getDisplay: function (currentPage) {
						if (currentPage == null)
							currentPage = 1;
						hard = 5;
						let self = this;

						axios.post('http://localhost:8080/allDisplayByPage', {
							currentPage: currentPage,
							pageSize: 10,
							type:self.type.displaySelect,
						})
								.then(function (response) {
									console.log(response);
									let page = pageBar;
									axios.get('http://localhost:8080/getDisplayPageNum', {
										params: {
											pageSize: 10,
											type:self.type.displaySelect,
										}
									})
											.then(function (response) {
												page.all = response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object = response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getBox: function (currentPage) {
						if (currentPage == null)
							currentPage = 1;
						hard = 6;
						let self = this;
						axios.post('http://localhost:8080/allBoxByPage', {
							currentPage: currentPage,
							pageSize: 10,
							type:self.type.boxSelect
						})
								.then(function (response) {
									console.log(response);
									let page = pageBar;
									axios.get('http://localhost:8080/getBoxPageNum', {
										params: {
											pageSize: 10,
											type:self.type.boxSelect
										}
									})
											.then(function (response) {
												page.all = response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object = response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getPower: function (currentPage) {
						if (currentPage == null)
							currentPage = 1;
						hard = 7;
						let self = this;
						axios.post('http://localhost:8080/allPowerByPage', {
							currentPage: currentPage,
							pageSize: 10,
							type:self.type.powerSelect
						})
								.then(function (response) {
									console.log(response);
									let page = pageBar;
									axios.get('http://localhost:8080/getPowerNum', {
										params: {
											pageSize: 10,
											type:self.type.powerSelect}
									})
											.then(function (response) {
												page.all = response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object = response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					getRadiator: function (currentPage) {
						if (currentPage == null)
							currentPage = 1;
						hard = 8;
						let self = this;
						axios.post('http://localhost:8080/allRadiatorByPage', {
							currentPage: currentPage,
							pageSize: 10,
							type:self.type.radiatorSelect
						})
								.then(function (response) {
									console.log(response);
									let page = pageBar;
									axios.get('http://localhost:8080/getRadiatorNum', {
										params: {pageSize: 10,
											type:self.type.radiatorSelect
										}
									})
											.then(function (response) {
												page.all = response.data;
												console.log(response);
											})
											.catch(function (error) {
												console.log(error);
											});
									self.object = response.data;
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					//设置全局变量，1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
					//编辑硬件!!!!!!!!!
					insert: function (value) {
						let left = this;
						left.ifAdd=value.id;
						//获取表单信息,填入表单
						left.addHard();
						if (hard == 1) {
							left.cpuDetail=value;
						}
						else if (hard == 2) {
							left.mainBoardDetail=value;
						}
						else if (hard == 3) {
							left.memoryDetail=value;
						}
						else if (hard == 4) {
							left.hardDriverDetail=value;
						}
						else if (hard == 5) {
							left.displayDetail=value;
						}
						else if (hard == 6) {
							left.boxDetail=value;
						}
						else if (hard == 7) {
							left.powerDetail=value;
						}
						else if (hard == 8) {
							left.radiatorDetail=value;
						}
					},
					//发送请求
					coreService: function () {
						let self = this;
						axios.post('http://localhost:8080/main/apis/core', {
							cpuId: self.configListDetail.cpuId,
							mainBoardId: self.configListDetail.mainBoardId,
							powerId: self.configListDetail.powerId,
							radiatorId: self.configListDetail.radiatorId,
							memoryId: self.configListDetail.memoryId,
							displayId: self.configListDetail.displayId,
							hardDiskId: self.configListDetail.hardDiskId,
							boxId: self.configListDetail.boxId,
							userId: self.configListDetail.userId,
							cpuName: self.configListDetail.cpuName,
							mainBoardName: self.configListDetail.mainBoardName,
							powerName: self.configListDetail.powerName,
							radiatorName: self.configListDetail.radiatorName,
							memoryName: self.configListDetail.memoryName,
							displayName: self.configListDetail.displayName,
							hardDiskName: self.configListDetail.hardDiskName,
							boxName: self.configListDetail.boxName
						})
								.then(function (response) {
									console.log(response.data);
									alert(response.data);
								})
								.catch(function (error) {
									console.log(error);
								});
					},
					//点击时，显示相应的详情弹窗,1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
					popBox: function (value) {
						let self = this;
						console.log(self.cpuDisplay);
						if (hard == 1) {
							self.cpuDetail=value;
							self.cpuDisplay = true;
						} else if (hard == 2) {
							self.mainBoardDetail=value;
							self.mainBoardDisplay = true;
							console.log(self.mainBoardDisplay);
						} else if (hard == 3) {
							self.memoryDetail=value;
							self.memoryDisplay = true;
						} else if (hard == 4) {
							self.hardDriverDetail=value;
							self.hardDriverDisplay = true;
						} else if (hard == 5) {
							self.displayDetail=value;
							self.displayDisplay = true;
						} else if (hard == 6) {
							self.boxDetail=value;
							self.boxDisplay = true;
						} else if (hard == 7) {
							self.powerDetail=value;
							self.powerDisplay = true;
						} else if (hard == 8) {
							self.radiatorDetail=value;
							self.radiatorDisplay = true;
						}
						self.popLayer = true;
					},
					closeBox: function () {
						let self = this;
						self.cpuDisplay = false;
						self.mainBoardDisplay = false;
						self.memoryDisplay = false;
						self.hardDriverDisplay = false;
						self.displayDisplay = false;
						self.boxDisplay = false;
						self.powerDisplay = false;
						self.radiatorDisplay = false;
						self.popLayer = false;
					}
				}})

			var pageBar = new Vue({
				el: '.page-bar',
				data: {
					all: 8, //总页数
					cur: 1//当前页码
				},
				watch: {
					cur: function(oldValue , newValue){
						// console.log(arguments);
					}
				},
				methods: {
					btnClick: function(data){//页码点击事件
					    let list=getList;
						if(data != this.cur) {
							this.cur = data;
							console.log(hard);
						}
							// 1代表当前在操作CPU，2代表主板，3代表内存，4硬盘，5显卡，6机箱，7电源，8散热器
							if (hard==1){
                                list.getCPU(data);
							}
							else if (hard==2){
								list.getMainBoard(data);
							}
							else if (hard==3){
								list.getMemory(data);
							}
							else if (hard==4){
								list.getHardDriver(data);
							}
							else if (hard==5){
								list.getDisplay(data);
							}
							else if (hard==6){
								list.getBox(data);
							}
							else if (hard==7){
								list.getPower(data);
							}
							else {
								list.getPower(data);
							}
					},
					pageClick: function(){
						console.log('现在在'+this.cur+'页');
						this.btnClick(this.cur)
					}
				},

				computed: {
					indexs: function(){
						var left = 1;
						var right = this.all;
						var ar = [];
						if(this.all>= 5){
							if(this.cur > 3 && this.cur < this.all-2){
								left = this.cur - 2
								right = this.cur + 2
							}else{
								if(this.cur<=3){
									left = 1
									right = 5
								}else{
									right = this.all
									left = this.all -4
								}
							}
						}
						while (left <= right){
							ar.push(left)
							left ++
						}
						return ar
					}

				}
			})
			//每次触发点击事件时，初始化页数为1
			function initCur() {
				let page =pageBar;
				pageBar.cur=1;
			};
	</script>
</html>
