<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
	  xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>小白装机网</title>
		<link href="css/luntan.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="main">
			<div id="top">
				<div id="daohang">
					<ul>
					  <li><a href="http://localhost:8080/index">主页</a></li>
					  <li><a class="active" href="http://localhost:8080/luntan">论坛</a></li>
					  <li><a href="http://localhost:8080/ziyuan">资源</a></li>
					  <li><a href="http://localhost:8080/gerenzhongxin">个人中心</a></li>
					</ul>
				</div>
				<div id="image"><img class="mb-4" src="img/title.jpg" th:src="@{/img/title.jpg}"></div>
			</div>
			<div id="body">
				<div id="body_left">
					<div id="body_left_top">
						<ul id="list">
							<li v-for="value in object"  style="list-style: none;cursor:pointer;">
								<table id="table1">
									<tr v-on:click="recordDetail(value.id,value.title)">
										<td style="width: 350px">标题：{{ value.title }}</td>
										<td style="width: 300px">创建人：{{ value.userName }}</td>
										<td>创建时间:{{ value.createTime}}</td>
									</tr>
								</table>
							</li>
						</ul>
					</div>
					<!-- 分页 -->
					<div id="body_left_bottom">
						<div class="page-bar">
						    <ul>
						        <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
						        <li v-if="cur==1"><a class="banclick">上一页</a></li>
						        <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
						            <a v-on:click="btnClick(index)">{{ index }}</a>
						        </li>
						        <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
						        <li v-if="cur == all"><a class="banclick">下一页</a></li>
						        <li><a>共<i>{{all}}</i>页</a></li>
						    </ul>
						</div>
					</div>
				</div>
				<div id="body_right">
					<div id="body_right_top">
						<ul>
							<li>
								<br><br>
								用户名：{{object.username}} <br><br>
								积分：{{object.integ}}
							</li><br />
						</ul>
					</div>
					<input class="button" type="button" name="popBox" value="发表新帖" onclick="popBox()"><br>
					<div id="body_right_bottom">
						<input @click="signIn()" class="button" type="button" name="popBox" value="今日签到"><br>
					</div>
				</div>
			</div>
			<div id="bottom"></div>
		</div>
		<!--遮罩层-->
		<div id="popLayer"></div>
		<!--新建帖子弹窗-->
		<div id="popBox">
			<div class="content">
				<form id="form" th:action="@{/addRecord}" method="post" onsubmit="dosubmit()">
					<div id="RecordName" style="text-align: center;">请输入帖子名称：<input type="text" name="title" value=""><br/></div>
					<textarea rows="4" name="content" placeholder="请输入内容" style="margin-left: 20px;margin-top: 15px;width: 280px"></textarea>
					<input class="button2" type="button" value="创建帖子" style="margin-right:20px;" onclick="check()">
					<input class="button2" style="width: 50px; height:16.5px;" href="javascript:void(0)" onclick="closeBox()" value="取消新建">
				</form>
			</div>
		</div>
	</body>
	<script src="js/vue.min.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript">
		<!--验证表单是否为空-->
		function check()
		{
			let form=document.getElementById("form");
			let RecordName=document.getElementById("RecordName");
			if(form.title.value=="")
			{
				alert("请输入帖子名");
				return false;
			}
			form.submit();
			return true;
		}

		function popBox() {
			var popBox = document.getElementById("popBox");
			var popLayer = document.getElementById("popLayer");
			popBox.style.display = "block";
			popLayer.style.display = "block";
		};
		/*点击关闭按钮*/
		function closeBox() {
			var popBox = document.getElementById("popBox");
			var popLayer = document.getElementById("popLayer");
			popBox.style.display = "none";
			popLayer.style.display = "none";    };

		let user=new Vue({
			el:'#body_right_top',
			data:{
				isCommitted:false,
				object:{
				}
			},
			mounted:function(){
				this.getUser();
			},
			methods:{
				dosubmit(){
					let self=this;
					if(self.isCommitted==false){
						self.isCommitted = true;//提交表单后，将表单是否已经提交标识设置为true
						return true;//返回true让表单正常提交
					}else{
						return false;//返回false那么表单将不提交
					}
				},
				getUser(){
					let self1=this;
					axios.get('http://localhost:8080/getLoginUserMsg',{
					})
							.then(function (response){
								self1.object=response.data;
							}).catch(function (error) {
								console.log(error);
					});
				}
			}
		})

		var record=new Vue({
			el:'#body_left_top',
			data:{
				object:{
				}
			},
			mounted:function(){
				this.getRecord(1);
			},
			//获取页数，获取列表
			methods:{
				recordDetail:function(id,name){
					let expdate = new Date();   //初始化时间
					expdate.setTime(expdate.getTime() + 30 * 60 * 1000);   //时间
					document.cookie = "recordId="+id+";expires="+expdate.toGMTString()+";path=/";
					document.cookie = "recordName="+name+";expires="+expdate.toGMTString()+";path=/";
					window.location.href="http://localhost:8080/recordDetail";
				},
				getRecord:function(currentPage){
					if (currentPage==null)
						currentPage=1;
					let self=this;
					axios.post('http://localhost:8080/getAllRecord',{
						currentPage:currentPage,
						pageSize:10
					})
						.then(function (response) {
							let page=pageBar;
							axios.get('http://localhost:8080/getRecordNum',{
								params:{pageSize:10}
							})
								.then(function (response) {
									page.all=response.data;
									console.log(response);
								})
								.catch(function (error) {
									console.log(error);
								});
							self.object=response.data;
						})
						.catch(function (error) {
							console.log(error);
						});
				},
			}
		})

		let pageBar = new Vue({
			el: '.page-bar',
			data: {
				all: 8, //总页数
				cur: 1//当前页码
			},
			watch: {
				cur: function(oldValue , newValue){
					console.log(arguments);
				}
			},
			 methods: {
				btnClick: function(data){//页码点击事件
					if(data != this.cur){
						this.cur = data
					}
					let self=record;
					self.getRecord(data);
				},
				pageClick: function(){
					this.btnClick(this.cur);
					console.log('现在在'+this.cur+'页');
				}
			},
			computed: {
				indexs: function(){
				  var left = 1;
				  var right = this.all;
				  var ar = [];
				  if(this.all>= 5){
					if(this.cur > 3 && this.cur < this.all-2){
							left = this.cur - 2
							right = this.cur + 2
					}else{
						if(this.cur<=3){
							left = 1
							right = 5
						}else{
							right = this.all
							left = this.all -4
						}
					}
				 }
				while (left <= right){
					ar.push(left)
					left ++
				}
				return ar
			   }

			}
		})

		let body_right_bottom=new Vue({
			el:'#body_right_bottom',
			data:{

			},
			methods:{
				signIn:function () {
					axios.get('http://localhost:8080/signIn',{
						params: {
						}
					})
							.then(function (response) {
								if (response.data==true){
									alert("签到成功");
									console.log("签到成功");
									let self=user;
									self.getUser();
								}
								else
									alert("今天已经签过到了，请明天再来");
							})
							.catch(function (error) {
								console.log(error);
							})
				}
			}
		})
	</script>
</html>
